@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: mistyrose;
}

#column-2 {
  background:#FFDBED;
}

#column-3 {
  background:#FDBFCB;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: mistyrose;
  }

  #column-1 {
    background-color: #DBFBFF;
  }

  #column-2 {
    background-color:#DBFFDF ;
  }

  #column-3 {
    background-color:#FF8C80 ;
  }

  footer {
    background-color:#DFDBFF ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:#A8EFFF ;
  }

  #column-1 {
    background-color: 
    #DBF8FF;
  }

  #column-2 {
    background-color:#FFB1A8 ;
  }

  #column-3 {
    background-color:#FF8375 ;
  }

  footer {
    background-color:mistyrose ;
  }
   
}
